.boarding-pass-container {
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.boarding-pass-body {
    margin: 2rem;
}

.passenger {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.2rem solid rgb(235, 235, 235);
}

.flight-info {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flight-info-col1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.flight-info-col2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tear-off {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left-divider {
    background: #e42525;
    margin-left: -2.25rem;
    margin-right: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 1.25rem;
    height: 2rem;
}

.line-divider {
    margin: 1rem 0;
    height: 0.15rem;
    background: repeating-linear-gradient(to right, darkgray 0,darkgray 0.6rem,transparent 0.4rem,transparent 1rem)
    /*3px red then 4px transparent -> repeat this!*/
}

.right-divider {
    background: #e42525;
    margin-left: 1rem;
    margin-right: -2.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 1.25rem;
    height: 2rem;
}
