.container {
    display:flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label {
    color: var(--body-label-color);
    font-size: 0.675rem;
    font-weight: 600;
}

.text {
    color: var(--body-text-color);
    font-weight: 800;
}
