<div class="container">
    <span class="label">@Label?.ToUpper()&nbsp;</span>
    <span class="text">@Text&nbsp;</span>
</div>

@code {
    [Parameter, EditorRequired] 
    public string? Label { get; set; }
    [Parameter, EditorRequired] 
    public string? Text { get; set; }
}