.container {
    display:flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label {
    color: rgb(190, 190, 190);
    font-size: 0.675rem;
    font-weight: 600;
}

.text {
    color: black;
    font-weight: 800;
}
