.container {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.city {
    color: var(--header-text-color);
    font-size: 0.875rem;
}

.airport-code {
    color: var(--header-text-color);
    font-size: var(--header-text-font-size);
    font-weight: bold;
}