@using BlazorComponentUtilities

<div class="container">
    <span class="city" style="@CityStyle">@City</span>
    <span class="airport-code">@AirportCode</span>
</div>

@code {
    [Parameter, EditorRequired] 
    public string? City { get; set; }

    [Parameter, EditorRequired] 
    public string? AirportCode { get; set; }

    [Parameter] 
    public bool AlignCityRight { get; set; }

    private string CityStyle
    {
        get
        {
            var styleToRender = new StyleBuilder()
                .AddStyle("text-align", "end", when: AlignCityRight)
                .Build();
            return styleToRender.ToString();
        }
    }

}